*.egg-info
*.dist-info
*.whl
*.tar.gz
*.zip
*.tar.xz
*.tar.bz2
__pycache__
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
build
dist/
.venv/
.env
.pytest_cache/
.coverage
htmlcov/
.ruff_cache/
.basedpyright_cache/
.idea/
*.swp
*.swo
.DS_Store
