repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.3.3
  hooks:
  - id: ruff
    args: [ --fix ]
  - id: ruff-format
    stages: [ pre-commit ]

- repo: local
  hooks:
  - id: basedpyright
    name: basedpyright
    entry: basedpyright
    language: system
    types: [ python ]
    pass_filenames: false
